# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# Environments
env/
venv/
rm_portfolio/

# Database
*.db
*.sqlite

# Power BI
*.pbix

# Tableau
*.twb

# VSCode
.vscode/

# pytest cache
.pytest_cache/

# Coverage reports
.coverage
coverage.xml

# Ignore test artifacts
Projects/02_Forecasting_Estacional/05_Documentation/metrics.json