# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# Environments
env/
venv/
rm_portfolio/

# Database
*.db
*.sqlite

# Power BI
*.pbix

# Tableau
*.twb

# VSCode
.vscode/
